$base:#fafafa;
$base-dark:#e0e0e0;
$base-light:#ffffff;
$on-base:#000000;
$primary:#00838f;
$primary-dark:#005662;
$primary-ligth:#4fb3bf;
$on-primary:#ffffff;
$secondary:#00bcd4;
$secondary-dark:#008ba3;
$secondary-ligth:#62efff;
$on-secondary:#ffffff;
$error:#b00020;
$on-error:#ffffff;
$success:#00695c;
$on-success:#ffffff;
